@media screen and (max-width: 767px) {
    .mob-mt {margin-top:10px !important;}
    .mob-mb {margin-bottom:10px !important;}
    .mob-my {margin-top:10px !important;
        margin-bottom:10px !important;
    }
    .mob-ml {margin-left:10px !important;}
    .mob-mr {margin-right:10px !important;}
    .mob-mx { margin-left:10px !important;
        margin-right:10px !important;
    }
}


footer {
    color: rgba(255,255,255,.5);
    background-color: #343a40!important;
    padding: 0.25rem 1.25rem;
}
footer a {
    color: white;
    font-weight: bold;
}